/* ? Link hover effect - START */
.link {
   text-decoration: none;
   position: relative;
   margin-bottom: 0px;
   padding-bottom: 5px;
   /* border-bottom: 2px solid white; */
   transition: 300ms ease-in-out;
   cursor: pointer;
}

.link::after {
   content: '';
   position: absolute;
   right: 0px;
   width: 0px;
   bottom: -2px;
   background: #515151;
   height: 2px;
   transition-property: width;
   transition-duration: 300ms;
   transition-timing-function: ease-in-out;
}

.link:focus::after,
.link:hover::after {
   left: 0px;
   right: auto;
   width: 100%;
}
/* ? Link hover effect - END */

/* ! Gradient Animations on Text - START */

.animateGradientText {
   background-image: linear-gradient(120deg, #ffffff, #000000, #ffffff, #ffffff);
   background-size: 200%;
   height: 1.1em;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   animation: animated-gradient 9s ease-in-out infinite;
}

@keyframes animated-gradient {
   0%,
   100% {
      background-position: 0 50%;
   }

   50% {
      background-position: 100% 50%;
   }
}

/* ! Gradient Animations on Text - END */

/* !Home page hero */
.hero {
   height: 85vh;
}
