/* !Home page hero */
.hero {
   height: 85vh;
}
/* !Home page hero End*/

/* @ Link hover effect - START */
.link {
   text-decoration: none;
   position: relative;
   margin-bottom: 0px;
   padding-bottom: 5px;
   /* border-bottom: 2px solid white; */
   transition: 300ms ease-in-out;
   cursor: pointer;
}

.link::after {
   content: '';
   position: absolute;
   right: 0px;
   width: 0px;
   bottom: -2px;
   background: #515151;
   height: 2px;
   transition-property: width;
   transition-duration: 300ms;
   transition-timing-function: ease-in-out;
}

.link:focus::after,
.link:hover::after {
   left: 0px;
   right: auto;
   width: 100%;
}
/* @ Link hover effect - END */

/* # Gradient Animations on Text - START */

.animateGradientText {
   background-image: linear-gradient(120deg, #ffffff, #000000, #ffffff, #ffffff);
   background-size: 200%;
   height: 1.1em;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   animation: animated-gradient 9s ease-in-out infinite;
}

@keyframes animated-gradient {
   0%,
   100% {
      background-position: 0 50%;
   }

   50% {
      background-position: 100% 50%;
   }
}

/* # Gradient Animations on Text - END */

/* ~  Client Section Homepage */
.gridWrapper {
   /* --auto-grid-min-size: 16rem; */
   --auto-grid-min-size: 12rem;
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.gridWrapper li {
   list-style-type: none;
   text-align: center;
}
.mainContainer {
   margin: 0 auto;
   max-width: 1170px;
}
/* ~  Client Section Homepage End */

/* # Horizontal Rule */

/* .hrule {
   border: 0;
   height: 1px;
   background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
   background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
   margin: 35px 0 33px 0;
} */

.hrule {
   border: dotted #777 6px;
   border-bottom: none;
   width: 5vw;
   margin: 3rem auto;
}

/* # Horizontal Rule End */

.highlight {
   /* background: rgba(235, 255, 51, 0.7);
   background: linear-gradient(
      305deg,
      rgba(184, 122, 65, 0.6) 0%,
      rgba(165, 94, 135, 0.4) 79%,
      rgba(88, 107, 114, 0.8) 89%
   ); */
   background: rgba(119, 121, 105, 0.7);
   background: linear-gradient(
      305deg,
      rgba(49, 47, 46, 0.6) 0%,
      rgba(116, 114, 115, 0.4) 79%,
      rgba(99, 101, 102, 0.8) 89%
   );
   border-radius: 52px 12px 52px 8px;
   width: 3.5rem;
   margin: auto auto;
   margin-top: 1rem;
   padding: 0.2rem;
}

/* # Home page heading */
.jj {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 20vmin;
   color: #fff;
   line-height: 0.85;
   text-transform: uppercase;
   background-size: contain;
   -webkit-text-fill-color: rgba(161, 135, 135, 0.3);
   z-index: 10;
}

.jj + .jj {
   -webkit-text-fill-color: #73777b;
   /* -webkit-text-fill-color: red; */
   z-index: 20;
   animation: meh 9s ease-out infinite alternate;
}

@keyframes meh {
   from {
      clip-path: polygon(100% 0, 100% 100%, 20% 100%, 61% 91%, 94% 47%);
   }
   33.3333% {
      clip-path: polygon(100% 0, 100% 100%, 20% 100%, 59% 52%, 74% 13%);
   }
   66.6666% {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 38% 32%, 64% 27%);
   }
   100% {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 32% 0);
   }
}

.jj span {
   display: block;
}
/* # Home page heading End */

.containerHome {
   display: flex;
   flex-wrap: wrap;
}

.containerHome > .containerHome_card {
   flex-grow: 1;
   width: 33%;
   height: 100px;
}
